{
  "name": "splintr/php-sdk",
  "license": "MIT",
  "description": "Splintr PHP Client Library",
  "version": "0.0.1",
  "keywords": [
    "spinltr",
    "spinltr php sdk",
    "buy now pay later",
    "installment"
  ],
  "homepage": "https://www.splintr.com/",
  "authors": [
    {
      "name": "Splintr Team",
      "email": "tech@tamara.co"
    }
  ],
  "require": {
    "php": ">=5.5",
    "ext-json": "*",
    "guzzlehttp/guzzle": "^5.3.0"
  },
  "require-dev": {
    "coenjacobs/mozart": "~0.7.0",
    "symfony/var-dumper": "^3.0",
    "squizlabs/php_codesniffer": "3.*",
    "phpunit/phpunit": "^9"
  },
  "autoload": {
    "psr-4": {
      "Splintr\\PhpSdk\\": "src/"
    }
  },
  "autoload-dev": {
    "psr-4": {
      "Splintr\\PhpSdk\\Tests\\": "tests/"
    }
  },
  "extra": {
    "mozart": {
      "packages": [
        "guzzlehttp/guzzle"
      ],
      "dep_namespace": "Splintr\\PhpSdk\\Dependencies\\",
      "dep_directory": "/src/Dependencies/",
      "classmap_directory": "/classes/dependencies/",
      "classmap_prefix": "SplintrPhpSdk_"
    }
  },
  "scripts": {
    "post-install-cmd": [
      "\"vendor/bin/mozart\" compose",
      "composer dump-autoload"
    ],
    "post-update-cmd": [
      "\"vendor/bin/mozart\" compose",
      "composer dump-autoload"
    ]
  }
}